<% @user.errors.full_messages.each do |message| %>
<%= message %>
<% end %>

<%= form_for(@user) do |f|%>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<button type="submit" class="btn btn-primary">Add New User</button>
<% end %>
