<h1>Welcome, <%= @user.first_name %>!</h1>

<h2>Search for a destination:</h2>
<%= form_tag '/destinations', method: :get do %>
  <%= label_tag "Search by Name" %>
  <%= text_field_tag :search_name %>

  <%= label_tag "Search by Type" %>
  <%= select_tag :search_type, options_for_select(@destinations.map(&:destination_type)), {include_blank: '' } %>

  <%= submit_tag 'Search for Destination' %>
<% end %>

<h2>Search for a parking location to leave a review:</h2>
<%= form_tag '/parking_locations', method: :get do %>
  <%= label_tag "Search by Street" %>
  <%= text_field_tag :search_street %>

  <%= submit_tag 'Search for Parking Location' %>
<% end %>

<%= link_to "See your reviews", user_reviews_path(@user) %>
